 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	font-family: tahoma;
}
/* top navigation */
nav.top-navigation {
	background-color: silver;
	padding: 40px 0 40px 0;
}


div .menu{
	padding: 0 0 0 500px;
}

.top-navigation li{
	display: inline;
	font-size: 120%;
	font-family: tahoma;
	padding: 10px;
	background-color: silver;
	/*margin-left: 10px;*/
	color: blue;

}
ul .name{
	font-size: 500%;
	color: teal;
	padding: 0px;
	margin-left: 150px;
}

/* main section*/

section.aboutinfo{
	/*put background image here*/
}

.aboutinfo p{
	padding: 0 150px 0 150px;
}


.aboutinfo h1{
	 padding: 100px 0 10px 0;
	font-family: "tahoma";
	font-size: 250%;
	margin-left: 150px

}

 .aboutinfo h2{
 	padding: 50px 0 10px 0;
	font-family: "tahoma";
	font-size: 250%;
	margin-left: 150px

 }
/*footer section*/

.footer h2{
	padding: 50px 0 10px 0;
	font-family: "tahoma";
	font-size: 250%;
	margin-left: 150px;
}

.projects ul{
	padding: 30px 50px 0 50px;
}

img {
	 border: 5px;
	 max-height: 35%;
	 max-width: 35%;
	 padding: 0 0 0 100px;

	 
 }

.footer li {
 	display: inline;
 }

